/**
 * 鎼滅储缇庨缁撴灉椤甸潰鏍峰紡-result銆� *
 * @author moumingyi@meituan.com
 * @date 2014-11-04 鏄熸湡浜� */
@import url("../static/css/global.css");
@import url("food.css");
@import url("restaurant.css");
@import url("../static/css/module/dialog/FoodSkuDialog.css");

.page-wrap .inner-wrap {
  padding: 0;
}

.result-wrap {
  padding: 20px 20px 1px 20px;
  background-color: #ffffff;
  min-height: 500px;
  margin-bottom: 20px;
  _height: 500px;
  _overflow: visible;
}

.result-wrap a {
  color :#000000;
}

.result-wrap .result-change {
  margin-bottom: 40px;
}

.result-wrap .result-sort {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-bottom: 4px solid #ebebeb;
}

.result-wrap .result-sort:hover {
  background-color: #f5f5f5;
}

.result-wrap a.cur-sort {
  border-color: #ffd161;
  color: #ffa735;
}

.result-content h2 {
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

.result-content .search-none {
  padding: 95px 165px;
}

.result-content .search-none p {
  width: 490px;
  height: 50px;
  padding: 20px 20px 20px 100px;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 16px;
  line-height: 50px;
  background: url("/static/img/no-rests.png") no-repeat scroll 30px 50% #f4f4f4;
}
