<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zx.mapper.AdminMapper">
    
    <!-- 账号密码登录 -->
    <select id="phonePwdLogin" parameterType="admin" resultType="admin" >
    	SELECT * FROM store adminName=#{adminName} and adminPassword=#{adminPassword}
    </select>
    
</mapper>