<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zx.mapper.OrderMapper">
	<!-- 添加订单 -->
	<insert id="addOrder" parameterType="order">
		INSERT INTO `waimai`.`order` (
		  `userId`,
		  `storeId`,
		  `orderNumber`,
		  `orderTime`,
		  `orderAddress`,
		  `totalMoney`,
		  `orderState`,
		  `isComment`,
		  `orderRemarks`
		) 
		VALUES
		  (
		    #{userId},
		    #{storeId},
		    #{orderNumber},
		    now(),
		    #{orderAddress},
		    #{totalMoney},
		    #{orderState},
		    #{isComment},
		    #{orderRemarks}
		  ) ;
	</insert>     
	
	<!-- 修改订单状态 -->
	<update id="updateOrderState" parameterType="order">
		UPDATE 
		  `waimai`.`order` 
		SET
		  `orderState` = #{orderState}
		WHERE `id` = #{id} ;
	</update>
	
	<!-- 查询订单 -->
	<select id="findOrder" resultType="order" parameterType="order">
		SELECT o.*,u.`userName`,s.`storeName`,s.`storeImg`,s.`distributionMoney`,s.`storePhone`,dm.`dmName` FROM `order` o 
		INNER JOIN `user` u ON o.`userId`=u.`id`
		INNER JOIN store s ON o.`storeId`=s.`id`
		LEFT JOIN deliveryMan dm ON dm.`id`=o.`deliveryManId`
		WHERE 1=1
		<if test="storeId!=null">
    		and o.`storeId`=#{storeId}
    	</if>
    	<if test="userId!=null">
    		and o.`userId`=#{userId}
    	</if>
		<if test="orderState!=null">
    		and o.`orderState`=#{orderState}
    	</if>
		ORDER BY o.`orderTime` DESC
	</select>
	
	<!-- 根据订单号查询订单 -->
	<select id="findByOrderNumber" resultType="order" parameterType="order">
		select * from `order` where orderNumber=#{orderNumber}
	</select>
	
	<!-- 根据订单id查询订单 -->
	<select id="findById" resultType="order" parameterType="Integer">
		select * from `order` where id=#{id}
	</select>
	
	<!-- 删除订单 -->
	<delete id="deleteOrder">
	
	</delete>
	
	
</mapper>