<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zx.mapper.OrderMapper">
	<!-- 添加订单 -->
	<insert id="addOrder" parameterType="order">
		INSERT INTO `waimai`.`order` (
		  `userId`,
		  `storeId`,
		  `orderNumber`,
		  `orderTime`,
		  `orderAddress`,
		  `totalMoney`,
		  `orderState`,
		  `isComment`,
		  `orderRemarks`,
		  `disMoney`
		) 
		VALUES
		  (
		    #{userId},
		    #{storeId},
		    #{orderNumber},
		    now(),
		    #{orderAddress},
		    #{totalMoney},
		    #{orderState},
		    #{isComment},
		    #{orderRemarks},
		    #{disMoney}
		  ) ;
	</insert>     
	
	<!-- 修改订单状态 -->
	<update id="updateOrderState" parameterType="order">
		UPDATE 
		  `waimai`.`order` 
		SET
		  `orderState` = #{orderState}
		WHERE `id` = #{id} ;
	</update>
	
	<!-- 修改订单 -->
	<update id="updateOrder" parameterType="order">
		UPDATE 
		  `waimai`.`order` 
		SET
		  `userId` = #{userId},
		  `storeId` = #{storeId},
		  `orderNumber` = #{orderNumber},
		  `orderTime` = #{orderTime},
		  `orderAddress` = #{orderAddress},
		  `totalMoney` = #{totalMoney},
		  `orderState` = #{orderState},
		  `isComment` = #{isComment},
		  `orderRemarks` = #{orderRemarks},
		  `deliveryManId` = #{deliveryManId},
		  `disMoney` = #{disMoney}
		WHERE `id` = #{id};
	</update>
	
	<!-- 查询订单 -->
	<select id="findOrder" resultType="order" parameterType="order">
		SELECT o.*,u.`userName`,s.`storeName`,s.`storeImg`,s.`storeAddress`,s.`coordinate`,s.`storePhone`,dm.`dmName` FROM `order` o 
		INNER JOIN `user` u ON o.`userId`=u.`id`
		INNER JOIN store s ON o.`storeId`=s.`id`
		LEFT JOIN deliveryMan dm ON dm.`id`=o.`deliveryManId`
		WHERE 1=1
		<if test="storeId!=null">
    		and o.`storeId`=#{storeId}
    	</if>
    	<if test="userId!=null">
    		and o.`userId`=#{userId}
    	</if>
		<if test="orderState!=null">
    		and o.`orderState`=#{orderState}
    	</if>
    	<if test="deliveryManId!=null">
    		and o.`deliveryManId`=#{deliveryManId}
    	</if>
		ORDER BY o.`orderTime` DESC
	</select>
	
	<!-- 查询用户未完成订单 -->
	<select id="findOrderIncomplete" resultType="order" parameterType="order">
		SELECT o.*,u.`userName`,s.`storeName`,s.`storeImg`,s.`storeAddress`,s.`coordinate`,s.`storePhone`,dm.`dmName` FROM `order` o 
		INNER JOIN `user` u ON o.`userId`=u.`id`
		INNER JOIN store s ON o.`storeId`=s.`id`
		LEFT JOIN deliveryMan dm ON dm.`id`=o.`deliveryManId`
		WHERE o.`userId`=#{userId} and o.`orderState` IN (1,2,3,4)
		ORDER BY o.`orderTime` DESC
	</select>
	
	<!-- 外卖员根据坐标查询待抢订单 -->
	<select id="findOrderByStoreAddress" resultType="order" parameterType="String">
		SELECT o.*,s.`storeName`,s.`storeAddress`,s.`coordinate` FROM `order` o
		INNER JOIN store s ON o.`storeId`=s.`id`
		WHERE s.`area`=#{district} AND o.`orderState`=2
	</select>
	
	<!-- 根据订单号查询订单 -->
	<select id="findByOrderNumber" resultType="order" parameterType="order">
		select * from `order` where orderNumber=#{orderNumber}
	</select>
	
	<!-- 根据订单id查询订单 -->
	<select id="findById" resultType="order" parameterType="Integer">
		SELECT o.*,u.`userName`,s.`storeName`,s.`storeImg`,s.`storeAddress`,s.`coordinate`,s.`storePhone`,dm.`dmName` FROM `order` o 
		INNER JOIN `user` u ON o.`userId`=u.`id`
		INNER JOIN store s ON o.`storeId`=s.`id`
		LEFT JOIN deliveryMan dm ON dm.`id`=o.`deliveryManId`
		where o.id=#{id}
	</select>
	
	<!-- 删除订单 -->
	<delete id="deleteOrder">
	
	</delete>
	
	<!-- 查询订单是否在配送区域内 -->
	<select id="findDmOrderDis" resultType="order" parameterType="Object">
		SELECT o.*,s.`storeName`,s.`storeAddress`,s.`coordinate` FROM `order` o
		INNER JOIN store s ON o.`storeId`=s.`id`
		WHERE s.`area`=#{district} AND o.`id`=#{id}
	</select>
	
	
</mapper>